@charset 'UTF-8';

.sub02_main_wrap {
  background-image: url("../img/sub02/sub0207_top.jpg");
}

.sub02_main_wrap .text_box .title span {
  display: block;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 100;
}

.sub02_main_wrap .text_box .title h3 {
  font-size: 60px;
  margin: 40px 0;
  letter-spacing: -2px;
  font-weight: 200;
}

.sub02_main_wrap .text_box .title .line {
  position: relative;
  width: 40px;
  height: 1px;
  margin-bottom: 40px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.section01_wrap h3 {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  line-height: 55px;
}

.section01_wrap p,
.section03_wrap p {
  width: 800px;
  margin: 60px auto 0;
  line-height: 2;
  font-size: 20px;
  font-weight: 100;
}

.more_view_btn,
.close_view_btn {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  font-size: 16px;
  border: 1px solid #000;
  margin: 80px 0 0;
  box-sizing: border-box;
  cursor: pointer;
}

.more_img {
  width: 100%;
  margin-top: 100px;
}

.more_img>img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.more_view_btn:hover,
.close_view_btn:hover {
  background-color: #35598f;
  color: #fff;
}

.more_content {
  display: none;
}

.section02 {
  background: url("../img/sub02/sub0207_bg.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
}

.section02 h3,
.section03_wrap h3 {
  font-size: 35px;
  font-weight: 400;
  line-height: 55px;
  padding-bottom: 50px;
}

.section02 p {
  font-size: 20px;
  line-height: 2;
  font-weight: 200;
}
